
@import "../../node_modules/bootstrap/scss/functions";

$primary: #1c7ee0;
$alert-border-radius: 15px;
$spacer: 1.5rem;
$form-label-font-size: 0.6rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
